<p>book-list works!</p>

{{books | json}}


<button (click)='toggleCover()'>Cover {{coverIsVisible ? 'aus' : 'ein'}}blenden</button>

<p>
  Filtern nach:
  <input type="text" [(ngModel)]="filterText" (ngModelChange)="updateFilter($event)" />
</p>

@if (books.length === 0) {
<p>Keine Bücher gefunden</p>
}
@else {
<table>
  <tr>
    <td class="zelle">ISBN</td>
    <td class="zelle">Title</td>
    <td class="zelle">Author</td>
    <td class="zelle">Price</td>
    <td class="zelle">Cover</td>
    <td class="zelle">Rating</td>
  </tr>
  @for (book of (books | bookFilter:filterText:'title'); track book.isbn) {
  <tr>
    <td class="zelle">{{ book.isbn }}</td>
    <td class="zelle">{{ book.title }}</td>
    <td class="zelle">{{ book.author }}</td>
    <td class="zelle" [ngClass]="{'on-discount': book.price < 10}">
      {{ book.price | currency:'EUR':'symbol':'1.2-2' }}</td>
    <td class="zelle">
      @if (coverIsVisible) {
      <img [src]="book.coverUrl" [style.width.px]="50" />
      }
    </td>
    <td class="zelle">
      <rating [id]="'' + book.isbn" [stars]="book.rating" (plusVote)="plusVote($event)" (minusVote)="minusVote($event)">
      </rating>
    </td>
  </tr>
  }
</table>
}
